
/* Hyperlink Styles: */
a, a:visited {
  color:#0196e3;
  text-decoration:none;
  outline:none;
}

a:hover {
  text-decoration:underline;
}

/* Wrap */
.wrap {
	width:800px;margin:0 auto;
}

/* Header */
.header {
background-image: url(../img/shadow.png);
background-position: 50% 100%;
background-repeat: no-repeat;
height: 100px;
position: relative;
text-align:center;
margin-bottom: 20px;
}

.header h1 {
	padding-bottom: 50px;
	font-size: 50px;
  text-shadow: 3px 2px 3px rgba(1,1,1,0.3);
}

/* Force scrolling */
#wizard section {
  overflow-y: auto;
}

/* Loading "icon" */
#wizard section .loading {
  margin: auto;
  position: absolute;
  top: -50px; left: 0; bottom: 0; right: 0;
  width: 200px;
  height: 200px;
}

/* Table Styles */
table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:5px 5px 5px 5px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
	
	padding-left: 3px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
}
table td:first-child {
  text-align: left;
  border-left: 0;
	padding-left: 3px;
}
table td {
  padding:1px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td, table tr:nth-child(even) td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

/* Timetable page */
#timetable {
	width: 100%;
	table-layout: fixed;	
	font-size: 12px;
	min-height: 525px;
}

#timetable thead th:first-child {
	width: 28px;
}

#timetable td div {
  clear: both;
}

/* http://hellohappy.org/css3-buttons/ */
#wizard section .clean-gray {
	display:inline-block;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 15px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  min-width: 150px;
  margin: 5px auto;}
#wizard section .clean-gray:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
	text-decoration: none;
}
#wizard section .clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}
  	
/* Year page */
#wizard section #year {
	text-align: center;
}
#wizard section #year a.clean-gray {
	display: block;
	width: 500px;
	margin: 40px auto;
	font-size: 40px;
	padding: 30px 50px;
}

/* Courses */
#wizard section #course a.clean-gray {
  width: 40%;
  margin: 5px 15px;
  font-size: 14px;
  padding: 10px 20px;
}

/* Semester */
#wizard section #semester a.clean-gray {
  display: block;
  width: 500px;
  margin: 40px auto;
  font-size: 40px !important;
  padding: 30px 50px;
}

#wizard section #result h3 {
	margin-bottom: 1px;
}

#wizard section #result p {
  margin: 0.2em 0;
}