<p>Thanks for using this script, I hope you found it of use!</p>
<p>If you have any comments (constructive or otherwise), bugs or questions please contact me on the details provided at my <a href="http://www.pezcuckow.com">homepage</a> (top right).</p>
<p>If you'd like to dig throught the code, add functionality or fix any bugs visit the <a href="https://github.com/Pezmc/CS-Timetable-to-iCal"x>GitHub repo</a> and send a pull request!</p>
<p>Actually while you're here why don't you visit my <a href="http://www.pezcuckow.com">website</a>, and learn more about me, do you even know who I am?</p>
<p>If you're feeling particularly thankful you could <a href="http://goo.gl/j5NEO" target="_blank">put towards</a> my next cup to tea!</p>