<p>Thanks for using this script, I hope you found it of use! Please check your download against the <a href="http://studentnet.cs.manchester.ac.uk/ugt/timetable/timetable.php" target="_blank">official website</a>!</p>
<p>If you're feeling particularly thankful you could always <a href="http://goo.gl/j5NEO" target="_blank">put towards</a> my next drink! &#9786;</p>

<h3>How does it work?</h3>
<p>This app scrapes the <a href="http://studentnet.cs.manchester.ac.uk/ugt/timetable/timetable.php" target="_blank">CS Manchester timetable</a> page and parses the data into a timetable object.</p>
<p>It then converts this timetable object into a calender, which we export as an ics file for import into your favourite calendar application.</p>

<h3>Why?</h3>
<p>It's always annoyed me that the CS timetable page doesn't provide a calendar export function, it's my final year so the last chance to make one!</p>
<p>Also I wanted to look into web scraping with PHP and could do with a break from revision and my project.</p>

<h3>Comments</h3>
<p>If you have any comments (constructive or otherwise), bugs or questions please contact me on the details provided at my <a href="http://www.pezcuckow.com" target="_blank">homepage</a> (top right).</p>
<p>Visit the <a href="https://github.com/Pezmc/CS-Timetable-to-iCal" target="_blank">GitHub repo</a> to dig through the code, add functionality or fix any bugs and send a pull request!</p>

<h3>About Me</h3>
<p>I'm a final year CS with Business &amp Management student, who has just come back from placement.</a>
<p>While you're here why don't you visit my <a href="http://www.pezcuckow.com" target="_blank">website</a> to find out more.</p>
